[client]
socket=/usr/local/mysql/socket/mysql.sock

[mysqld]
character_set_server=utf8
init_connect='SET NAMES utf8'
innodb_buffer_pool_size = 3G

basedir=/usr/local/mysql
datadir=/usr/local/mysql/data
socket=/usr/local/mysql/mysql.sock
log-error=/usr/local/mysql/mysqld.log
pid-file=/usr/local/mysql/mysqld.pid

lower_case_table_names = 1
max_connections=5000
default-time_zone = '+8:00'
wait_timeout=14400
interactive_timeout=14400
